<div class="jumbotron" id="submissionjumbo">
  <h1><i class="icon-building"></i>&nbsp;Company Information</h1>

  <p class="dividerblue">_____________<p>
<center><h2><strong>Client:</strong>&nbsp;&nbsp;Salix Pharmaceuticals, Inc.</h2></center><br>
  <div class="row-fluid">
  <div class="span4">
  	<ul class="unstyled">
  		<li><strong>Company POC:</strong> Debra Roberts</li><br>
  		<li><strong>POC Phone:</strong>919-308-4087</li><br>
  		<li><strong>POC Email:</strong> droberts@salixp.com</li><br>
  		<li><strong>Insurance Coverage:</strong> 
  			<ul class="unstyled">
  				<li>Medical: BCBSNC</li>
  				<li>Dental: BCBSNC</li>
  				<li>Vision: VSP</li>
  			</ul><br>
		<li><strong>Event History:</strong>
  			<ul class="unstyled">
  				<li>Health Fair - 7/3/12</li>
  				<li>Health Fair - 7/5/11</li>
  				<li>Health Fair - 7/10/10</li>
  			</ul>
  	</ul>
  </div>
  <div class="span8" id="notesection">
  		<p class="lead pull-left">Enter client notes below...</p><p class="pull-right"><i class="icon-plus-sign"></i>&nbsp;ADD NOTE </p>
  		<textarea rows="3" id="clientnotes">Notes</textarea>
  		<button class="btn btn-mini btn-primary" type="button">Submit Note</button>

  </div>

  <div class="span8" id="allnotessection">
  	<center>
  		<h1><i class="icon-align-left"></i>&nbsp;All Notes</h1>
  	<center>
  		<p class="dividerblue">_____________<p>
  	<div class="span12">
  		<i class="icon-align-left pull-left">&nbsp;&nbsp;--&nbsp;7/3/13</i><br>
  		<p class="pull-left lead note"> Note goes here with all of the appropriate Lorium ipsum.</p><br>
  		<p class="pull-right"><small><strong>-- Devon Walters</strong></small><p>  	
	</div>
	<div class="span12">
  		<i class="icon-align-left pull-left">&nbsp;&nbsp;--&nbsp;7/3/13</i><br>
  		<p class="pull-left lead note"> Note goes here with all of the appropriate Lorium ipsum.</p><br>
  		<p class="pull-right"><small><strong>-- Devon Walters</strong></small><p>  	
	</div>
  	<div class="span12">
  		<i class="icon-align-left pull-left">&nbsp;&nbsp;--&nbsp;7/3/13</i><br>
  		<p class="pull-left lead note"> Note goes here with all of the appropriate Lorium ipsum.</p><br>
  		<p class="pull-right"><small><strong>-- Devon Walters</strong></small><p>  	
	</div>
	<div class="span12">
  		<i class="icon-align-left pull-left">&nbsp;&nbsp;--&nbsp;7/3/13</i><br>
  		<p class="pull-left lead note"> Note goes here with all of the appropriate Lorium ipsum.</p><br>
  		<p class="pull-right"><small><strong>-- Devon Walters</strong></small><p>  	
	</div>

  </div>



  </div>
</div>

