

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1><i class="icon-dashboard"></i>&nbsp;Dashboard View</h1>
  <p class="lead">See the next 10 upcoming events.</p>
  <p class="dividerblue">_____________<p>
<br>
 <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Progress and Status</th>
            <th>Representative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 80%"></div>
				</div>
            </td>
            <td>Devon Walters</td>
          </tr>
          <tr>
            <td>2</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 70%"></div>
				</div>
            </td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 90%"></div>
				</div>
			</td>
			<td>Column content</td>
          </tr>
          <tr>
            <td>4</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 90%"></div>
        </div>
            </td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
      </td>
      <td>Column content</td>
          </tr>
          <tr>
            <td>6</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 60%"></div>
        </div>
            </td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 60%"></div>
        </div>
      </td>
      <td>Column content</td>
          </tr>
          <tr>
            <td>8</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 50%"></div>
        </div>
            </td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
      </td>
      <td>Column content</td>
          </tr>
          <tr>
            <td>10</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td>Column content</td>
          </tr>
          
        </tbody>
      </table>
  
</div>
</div>
