<div class="row" id="bluerow">
<div class="jumbotron" id="homehero">
	<center>
	<h1>
		TRICARE Web App based on Ruby on Rails
	</h1>
	<br>
<p class="lead">You've found TRICARE's first application soley based on Ruby on Rails!!</p>
	<br>

<%= link_to "Sign up Now", "#", class: "btn btn-success btn-large"%>


<center>
</div>
</div>

<div class="row" id="grayrow">
<div class="jumbotron">
  <h1>Real Soldiers, Real Stories</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-large">Learn more</a></p>
</div>
</div>

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1>Lantern Room View</h1>
  <p class="lead">Monitor all of your events in Lantern Room View.</p>
  <p class="dividerblue">_____________<p>
<br>
 <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Progress and Status</th>
            <th>Representative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Advanced Liquid Logic, Inc.</td>
            <td>7/3/13</td>
            <td>Conference Call
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 40%"></div>
				</div>
            </td>
            <td>Devon Walters</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Batched
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 70%"></div>
				</div>
            </td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Column content</td>
            <td></td>
            <td>Submitted
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 10%"></div>
				</div>
			</td>
			<td>Column content</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

<div class="container">
<i class="icon-camera-retro"></i> icon-camera-retro
<p><i class="icon-camera-retro icon-4x"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-6"></i> icon-camera-retro</p>
  
</div>
</div>