

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1>Lantern Room View</h1>
  <p class="lead">Never get left in the dark on your events.</p>
  <p class="dividerblue">_____________<p>
<br>
 
  
</div>
</div>
