<div class="jumbotron" id="submissionjumbo">
  <h1><i class="icon-user"></i>&nbsp;My Account</h1>

  <p class="dividerblue">_____________<p>

<div class="row-fluid">
  <div class="span5">
  	<div class="panel panel-default">
  		<div class="panel-heading">User Information</div>
  		<div class="panel-body">
    	<p>
    		Username: michelle.hicks@advll.com
    		<br>
    		Password: xxxxxx
    		<br>
    		<CENTER><button type="button" class="btn btn-link">Change password</button></CENTER>
    	</p>
    	</div>
  	</div>
  	<div class="panel panel-primary">
  		<div class="panel-heading">New Event Submission Notifications</div>
  		<div class="panel-body">
<table class="table table-hover">
        <thead>
          <tr>
            <th>Progress Step</th>
            <th>ON/OFF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Health fair submission</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Wellness workshop submission</td>
            <td><i class="icon-remove-sign icon-off"></td>
          </tr>
        </tbody>
      </table>
    	</div>
  	</div>
  </div>
  <div class="span7">
  	<div class="panel panel-primary">
  		<div class="panel-heading"><i class="icon-envelope icon-2x"></i>&nbsp;&nbsp;Email Notification Settings</div>
  		<div class="panel-body">
 <table class="table table-hover">
        <thead>
          <tr>
            <th>Progress Step</th>
            <th>ON/OFF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Health fair created and submitted into Lighthouse</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Conference call completed</td>
            <td><i class="icon-remove-sign icon-off"></td>
          </tr>
          <tr>
            <td>Engagement agreement signed</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Employer group profile created and event page published</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Vendor campaign released</td>
            <td><i class="icon-remove-sign icon-off"></td>
          </tr>
          <tr>
            <td>75% of vendors secured</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Final conference call with client complete</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Parking instructions and event rules sent out to vendors</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Day of logistics complete</td>
            <td><i class="icon-ok-sign icon-on"></i></td>
          </tr>
          <tr>
            <td>Wellness Workshops survey distributed</td>
            <td><i class="icon-remove-sign icon-off"></td>
          </tr>
          
        </tbody>
      </table>
    	</div>
  </div>
</div>
</div>