

<div class="row" id="whiterow">
<div class="jumbotron">
  <center><h1><i class="icon-plus"></i>&nbsp;New Event</h1>
  <p class="lead">Submit a new health fair or wellness workshop.</p>
  <p class="dividerblue">_____________<p><center>
<br>
 <div class="row-fluid">
  <div class="span6"><a href="http://localhost:3000/newhealthfair">
  	<div id="newhealthfair">
  		<p id="whitetext">New Health Fair</p>
  	</a></div>
  	<br>
  </div>
  <div class="span6"><a href="http://localhost:3000/newworkshop">
  	<div id="newworkshop">
  		New Workshop
  	</a></div>
  </div>
</div>
  
</div>
</div>
