

<div class="row" id="submissionheader">
<div class="jumbotron" id="submissionjumbo">
  <h1><i class="icon-plus"></i>&nbsp;New Health Fair</h1>

  <p class="dividerblue">_____________<p>
  </div>
</div>
<div class="row">
	<div class="jumbotron">
<p class="lead">Fill out the fields below and click "Submit" to create a new health fair.<p>
<form class="form-horizontal">
  <!--- Company Name -->
  <div class="control-group">
    <label class="control-label" for="inputEmail" id="labelnewevent">Company Name</label>
    <div class="controls">
      <input type="text" id="inputnewevent" placeholder="Enter your client's company name">
    </div>
  </div>
  <!--- Company POC -->
  <div class="control-group">
    <label class="control-label" for="inputPassword" id="labelnewevent">Company POC</label>
    <div class="controls">
      <input type="password" id="inputnewevent" placeholder="Enter your client's poc name">
    </div>
  </div>
  <!--- Company POC Phone -->
  <div class="control-group">
    <label class="control-label" for="inputPassword" id="labelnewevent">POC Phone</label>
    <div class="controls">
      <input type="password" id="inputnewevent" placeholder="(XXX-XXX-XXXX)">
    </div>
  </div>
  <!--- Company POC Phone -->
  <div class="control-group">
    <label class="control-label" for="inputPassword" id="labelnewevent">POC Email</label>
    <div class="controls">
      <input type="password" id="inputnewevent" placeholder="(name@companyname.com)">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary btn-large">Submit</button>
    </div>
  </div>
</form>
</div>
</div>