

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1><i class="icon-check"></i>&nbsp;Progress & Status</h1>
  <p class="lead">See the detailed progress on your event.</p>
  <p class="dividerblue">_____________<p>
<br>
<center><h2>Salix Pharmaceuticals, Inc. Health Fair</h2><a href="http://healthfairconnections.com/our-events/10?view=event" class="btn btn-info btn-lg">View Live Event Page</a><center>
 <table class="table table-hover">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Health fair created and submitted into Lighthouse</td>
            <td><i class="icon-check icon-on"></i></td>
          </tr>
          <tr>
            <td>Conference call completed</td>
            <td><i class="icon-check icon-on"></td>
          </tr>
          <tr>
            <td>Engagement agreement signed</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Employer group profile created and event page published</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Vendor campaign released</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>75% of vendors secured</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Final conference call with client complete</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Parking instructions and event rules sent out to vendors</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Day of logistics complete</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          <tr>
            <td>Wellness Workshops survey distributed</td>
            <td><i class="icon-check-empty icon-off"></i></td>
          </tr>
          
        </tbody>
      </table>
  
</div>
</div>
