<div class="jumbotron" id="submissionjumbo">
  <h1>&nbsp;Rep View</h1>

  <p class="dividerblue">_____________<p>
  	<center><h2><strong>Rep:</strong>&nbsp;&nbsp;Devon Walters</h2></center>
  	<CENTER><a href="http://localhost:3000/rep_view_pending" class="btn btn-info btn-lg">View Pending</a><center></CENTER><br>
 	 <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Progress and Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><%= link_to "Salix Pharmaceuitcals, Inc.", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "http://localhost:3000/Progress_Status" %>
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 10%"></div>
				</div>
            </td>
            </tr>
          <tr>
            <td>2</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 70%"></div>
				</div>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 90%"></div>
				</div>
			</td>
          </tr>
          <tr>
            <td>4</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 90%"></div>
        </div>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
      </td>
          </tr>
          <tr>
            <td>6</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 60%"></div>
        </div>
            </td>
          </tr>
          <tr>
            <td>7</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 60%"></div>
        </div>
      </td>
          </tr>
          <tr>
            <td>8</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 50%"></div>
        </div>
            </td>
          </tr>
          <tr>
            <td>9</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
      </td>
          </tr>
          
        </tbody>
      </table>
