<div class="jumbotron" id="submissionjumbo">
  <h1>&nbsp;Rep View</h1>

  <p class="dividerblue">_____________<p>
  	<center><h2><strong>Rep:</strong>&nbsp;&nbsp;Devon Walters</h2></center>
  	<CENTER><a href="http://localhost:3000/rep_view" class="btn btn-info btn-lg">View Approved</a><center></CENTER><br>
 	 <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Progress and Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><%= link_to "Salix Pharmaceuitcals, Inc.", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td>Not Yet Approved</td>
            </tr>
          <tr>
            <td>2</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Not Yet Approved</td>
          </tr>          
        </tbody>
      </table>
